<div class="container">
  <form >
    <div class="col-2">
      <br>
      <div class="">
        <input type="text" class="form-control" name="username"
        [(ngModel)]="credentionals.username" ngDefaultControl id="username" ngModel>
      </div>
      <br>
      <div class="">
        <input type="text" class="form-control" name="password"
        [(ngModel)]="credentionals.password" ngDefaultControl id="password" ngModel>
      </div>
      <br>
      <div class="">
        <button class="btn btn-secondary" type="submit" (click)="getLogin()" type="submit">Login</button>
      </div>
      <br>
      <div class="">
        <button class="btn btn-secondary" (click)="getSignup()" type="submit">Signup</button>
      </div>
    </div>
    <br>
  </form>

  <div class="col-2">
    <div class="row">
      <button type="button" (click)="getRoleUser()"  class="btn btn-info">Role User</button>
      <p></p>
    </div>
  </div>
  <br>
  <div class="col-2">
    <div class="row">
      <button type="button" (click)="getRoleAdmin()"  class="btn btn-info">Role Admin</button>
      <p></p>
    </div>
  </div>
  <br>
  <div class="">
    <button type="button" (click)="getMessage()"  class="btn btn-info">Message</button>
    <p>{{message}}</p>
  </div>

</div>
