<div class="container">
  <br>
  <!-- <div>
    <button (click)="connect()">CONNECT</button>
    <button (click)="disconnect()">DISCONNECT</button>
  </div> -->

  <form (ngSubmit)="addUser(userForm)" #userForm="ngForm">
    <div class="row">
      <div class="col-2">
        <input type="text" class="form-control" name="user" id="input-user" [(ngModel)]="user">
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-primary">Add User</button>
      </div>
    </div>
  </form>
  <br>
  <p *ngIf="state">Status : {{state}}</p>

  <form (ngSubmit)="sendMessage(messageForm)" #messageForm="ngForm">
    <div class="row">
      <div class="col-8">
        <input type="text" class="form-control" name="message" id="input-message" ngModel>
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </div>
  </form>
  <br>
  <div>
    <div >
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let chatMessage of messagesHistory">
          <strong>{{chatMessage}}: </strong>
        </li>
      </ul>
    </div>
  </div>
</div>
